$prefix : "mx3-group";
$base-font-color: #2d413e;
$highlight-font-color: #c19e58;

$certification-cta-border-color: #c19e58;
$certification-cta-hover-text-color: #2d413e;

$slider-nav-icon-color: #2d413e;
$slider-pag-bullet-color: #c19e58;

$slider-nav-button-border: #2d413e;

$clients-color-title-text: #c19e58;

$footer-background-color: #375551;
$footer-link-color: #c19e58;