$cert-subtitle-font-size: 2rem;
$cert-subtitle-font-size-sm: 1.4rem;
$cert-subtitle-color: #c19e58;

#certifications-content{
    background: rgb(55,85,81);
    background: linear-gradient(118deg, rgb(55,85,81) 0%, rgb(45,65,62) 100%);
}

.#{$prefix}_certification-subtitle{
    color: $cert-subtitle-color;
    text-transform: uppercase;
    font-weight: 500;
    @include font-size-control($cert-subtitle-font-size, .2rem);

    line-height: normal;
}

.#{$prefix}_certification-image{
    
    img{
        height: 150px;
        width:auto;
    }   
}


@include media-breakpoint-down(lg) {
    .#{$prefix}_certification-subtitle{
        @include font-size-control($cert-subtitle-font-size-sm, .2rem);

        line-height: normal;
    }
}