.#{$prefix}_index-inner-section:not(#slideshow-content, #clientes){
    padding: 6rem 0;
    box-sizing: border-box;
    position: relative;
}

@import "./cta";
@import "./services";
@import "./certifications";
@import "./quote";
@import "./work";
@import "./maintenance";
@import "./portfolio";
@import "./slideshow";
@import "./why-us";
@import "./clients";
@import "./close";
@import "./contact";